/* GOOGLE FONT */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');


/* SELECTOR UNIVERSAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* CONTENIDO PRINCIPAL */

.main_body{
    width: 100%;
    height: 100vh;
    background-image: url(/img/error404-photo-blur.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center_body{
    width: 65%;
    height: 70%;
    background-image: url(/img/error404-photo.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.5s linear;
}

.center_body h1{
    font-size: 130px;
    color: black;
    letter-spacing: 5px;
    font-weight: 700;
    text-shadow: 10px 9px 3px goldenrod;
    transition: all 0.5s linear;
}

.center_body h2{
    color: goldenrod;
    text-shadow: 1px 1px 0 black;
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
}

.center_body p{
    color: goldenrod;
    text-shadow: 1px 1px 0 black;
    font-weight: 400;
    text-align: center;
    margin: 20px auto;
}

.center_body a{
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    color: black;
    background-color: goldenrod;
    padding: 15px 30px;
    box-shadow: 5px 4px 15px -5px black;
    border-radius: 40px;
    transition: all 0.5s linear;
}

.center_body:hover h1{
    text-shadow: 9px 6px 3px rgb(131, 130, 130)
}

.center_body:hover a{
    color: goldenrod;
    background-color: black;
}

.footer__error-spacing{
    width: 75%;
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 20px;
    margin-left: 220px;
}

.footer__error-socialMedia{
    display: flex;
    width: 13%;
    justify-content: space-between;
}

.footer__error-copyright{
    color: white;
}
