//FONT

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');

//Ancho y tamaño de texto

$text-wm: 200;
$text-wl: 500;

$textCustom:1.5rem;
$textMedium:1.7rem;
$textLarge:2rem;
$textBig:2.5rem;